.logo{
    width: 150px;
    height: 150px;
}
.container{
    border: 1px solid maroon;
    display: flex;
    width: 300px;
}
.name{
    font-size: 14px;
    font-style: italic;
    font-weight: 700;
    color: black;
}

